extends ./layout/index

block contenido
     main.container.mt-5 
          .row
               .col-md-5
                    img(src="img/nosotros.jpg", alt=" imagen sobre nosotros", class="img-fluid")
               .col-md-7
                    h1 #{pagina}
                    blockquote ipsum dolor sit amet, consectetur adipiscing elit. Quisque cursus turpis a nisl dictum, convallis consequat diam feugiat. Sed quis eleifend dolor. Phasellus id tellus at urna dictum efficitur a quis purus. Vestibulum convallis cursus varius. Maecenas vel facilisis magna. Vivamus vitae risus a nisl blandit dapibus in et enim. Nam imperdiet ac ipsum eget placerat. Sed at est ante. Praesent interdum nisi a orci volutpat euismod.

                    p ligula lectus, dictum in nulla vitae, varius egestas tortor. Phasellus vel lorem volutpat, ullamcorper neque a, volutpat diam. Morbi libero lectus, ullamcorper vel massa sit amet, mollis pellentesque justo. Suspendisse vel luctus urna. 

                    p eget ante porta, egestas urna ac, consectetur urna. Morbi at augue ultrices metus mattis posuere. Nam ac nisl porta, elementum urna non, finibus lorem. Curabitur egestas enim vitae dictum dignissim. In egestas, velit at tempor congue, massa risus ornare neque, congue consequat dui purus et est. Aliquam lobortis mauris metus, a lacinia est cursus a.

     .listado-iconos 
          .container.mt-5.py-5.text-center 
               .row      
                    .col-md-4 
                         img(src="img/icono_seguridad.svg", alt="icono de seguridad", class="img-fluid mb-4") 
                         h2.mb-4 Seguridad
                         p Vestibulum pulvinar mauris purus, sit amet malesuada libero vestibulum ut. Nam a ipsum quam. Cras nec erat ullamcorper, volutpat purus et, suscipit nisi. 

                    .col-md-4 
                         img(src="img/icono_destinos.svg", alt="icono de destinos", class="img-fluid mb-4") 
                         h2.mb-4 Mejores Destinos
                         p Sed laoreet condimentum felis, id condimentum turpis faucibus vitae. Fusce eu augue sit amet tellus congue gravida. Suspendisse convallis auctor arcu eu finibus.

                    .col-md-4 
                         img(src="img/icono_precios.svg", alt="icono de precios", class="img-fluid mb-4") 
                         h2.mb-4 Mejores Precios
                         p Ut venenatis quam at odio scelerisque fringilla. Morbi vitae sollicitudin est. Fusce vulputate libero ac est consectetur, et interdum dui fringilla.
